html {
  height: 100%;
}

body {
  background-color: #994d1c;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

.room-code {
  text-align: center;
}

.board {
  margin: auto;
  display: grid;
  max-width: 650px;
  grid-template-columns: repeat(8, 1fr);
}

.black,
.white {
  width: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 4px solid green;
}

.in_check {
  background-color: red;
}

.black {
  background-color: #945021;
}

.white {
  background-color: #d9a45c;
}

.pieceSelected {
  background-color: green;
}
.piece {
  width: 100%;
  height: 100%;
}

.piece:hover {
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.result {
  position: absolute;
  border: red 3px solid;
  left: 0px;
  top: 0px;
  background-color: yellow;
  font-size: 35px;
}

* {
  font-family: sans-serif;
}

button {
  box-shadow: none;
  background-color: transparent;
}

#waiting-room {
  position: absolute;
  background-color: #f5cca0;
  min-width: 30vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  font-size: 2rem;
  border-radius: 3%;
}

.gap {
  gap: 15px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

h1,
h2,
h3 {
  margin: 0;
}

#logout {
  padding: 10px;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
  width: max-content;
}

#startGame,
#logoutButton {
  color: black;
  background-color: #f5cca0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#startGame:hover,
#logoutButton:hover {
  background-color: #994d1c;
  color: #f5cca0;
}

button {
  font-size: 1rem;
  padding: 20px;
  width: max-content;
  margin: auto;
}

#messageAlert {
  position: absolute;
  left: 100%;
  top: 0%;
  background-color: #f5cca0;
  font-size: 1.5rem;
  padding: 25px;
  z-index: 1000;
}

.messages {
  /* NIKESH LOOK AT THIS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! (i already created this class's css so modify here ok) */
  overflow-y: scroll;
}

.muted {
  /* NIKESH LOOK AT THIS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! (i already created this class's css so modify here ok) */
  font-size: 10px;
  color: darkgray;
}
