<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Waiting for players...</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <!-- The above script is to import Socket.IO library to JS. Taken from https://flask-socketio.readthedocs.io/en/latest/getting_started.html -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <!-- ill use the below style sheet later for icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>

  <body>
    <div id="waiting-room" class="flex-col space-around gap">
      <dialog id="failedToStartGame">
        <h2 id="failureMessageHeading"></h2>
        <p id="failureMessage"></p>
        <form method="dialog"><button>Ok</button></form>
      </dialog>
      <h3 class="room-code">Code : {{room_code}}</h3>
      <div class="players flex space-around">
        <h2 id="player-1"></h2>
        <h2>vs</h2>
        <h2 id="player-2"></h2>
      </div>
      <button id="startGame">Start Game</button>
    </div>

    <div id="messageAlert">nikes and crytin</div>

    <div class="chatWindow">
      <div class="chatBox">
        <h1>Code: {{room_code}}</h1>
        <div class="messages" id="messages"></div>
        <form onsubmit="sendChatMessage(); return false;" id="chatForm">
          <input
            type="input"
            rows="3"
            placeholder="Enter your message here"
            name="chatInput"
            id="chatInput"
          />
          <button
            type="submit"
            name="sendMessage"
            id="send-msg-btn"
          >
            Send
          </button>
        </form>
      </div>
    </div>
    <!-- Common to both divs -->
    <!-- <h1>Your username is "{{username}}" and room code is "{{room_code}}".</h1> -->
    <div id="logout">
      <button value="leave" id="logoutButton">Leave Room</button>
    </div>
        <div id="game" class="invisible">
        <div id="black-promotion" class="invisible">
          <img src="{{url_for('static',filename='b9.png')}}" alt="" class="promo-piece"  data-value="-9">
          <img src="{{url_for('static',filename='b5.png')}}" alt="" class="promo-piece" data-value="-5">
          <img src="{{url_for('static',filename='b3.png')}}" alt="" class="promo-piece" data-value="-3">
          <img src="{{url_for('static',filename='b2.png')}}" alt="" class="promo-piece" data-value="-2">
        </div>
        <div class="board" id="entire-board"></div>
        <div id="white-promotion" class="invisible">
          <img src="{{url_for('static',filename='w9.png')}}" alt="" class="promo-piece" data-value="9">
          <img src="{{url_for('static',filename='w5.png')}}" alt="" class="promo-piece" data-value="5">
          <img src="{{url_for('static',filename='w3.png')}}" alt="" class="promo-piece" data-value="3">
          <img src="{{url_for('static',filename='w2.png')}}" alt="" class="promo-piece" data-value="2">
        </div>
    </div>
    <script
      src="{{url_for('script_js')}}"
      referrerpolicy="origin"
    ></script>
    {% for msg in messages %}
    <script type="text/javascript">
      createMessage("{{msg.name}}", "{{msg.message}}");
    </script>
    {% endfor %}
  </body>
</html>
