<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Waiting for players...</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <!-- The above script is to import Socket.IO library to JS. Taken from https://flask-socketio.readthedocs.io/en/latest/getting_started.html -->
  </head>
  <body>
    <h1>Your username is "{{username}}" and room code is "{{room_code}}".</h1>
    <h2 id="playerCount"></h2>
    <h3 id="playerNames"></h3>
    <button id="startGame">Start Game</button>
    <div id="messages"></div>
    <script type="text/javascript">
      var socketio = io(); // Connects to the backend Flask server, and emits a connect event.

      const messages = document.getElementById("messages");
      const playerCount = document.getElementById("playerCount");
      const playerNames = document.getElementById("playerNames");
      const startGameButton = document.getElementById("startGame")

      socketio.on("message", (data) => {
        messages.innerHTML += `
        <div id="messages" class="text">
            <span>
                <strong>${data.name}</strong> ${data.message}
            </span>
        </div>`;
        playerCount.innerHTML = `Current player count: ${data.playerCount}`;
        let playerNamesMsg = `Usernames of the players in this room: ${data.player1}`;
        if(data.player2 !== "") playerNamesMsg += ` and ${data.player2}`;
        playerNames.innerHTML = playerNamesMsg;
      });

      startGameButton.onclick(sendMessage("start"))

      function sendMessage(message){
        if (message === "") return;
        socketio.emit("message", {data: message});  // EMIT AN EVENT CALLED "message" FROM CLIENT WHICH WE CAN LISTEN TO ON OUR SERVER.
      }
    </script>
  </body>
</html>
