body{
    background-color: #111827;
}

.board{
    margin: auto;
    display: grid;
    width: 700px;
    grid-template-columns: repeat(8,1fr);
}

.black,.white{
    width: auto;
    aspect-ratio: 1;
}

.black{
    background-color: #b58863;
}

.white{
    background-color: #f0d9b5;
}