body{
    background-color: #111827;
}

.board{
    margin: auto;
    display: grid;
    width: 700px;
    grid-template-columns: repeat(8,1fr);
}

.black,.white{
    width: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: #b58863;
}

.white{
    background-color: #f0d9b5;
}

.piece{
    width: 80px;
    height: 80px;
}

.piece:hover{
    cursor: pointer;
}

img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}