body{
    background-color: #111827;
}

.board{
    margin: auto;
    display: grid;
    max-width: 650px;
    grid-template-columns: repeat(8,1fr);
}

.black,.white{
    width: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected{
    border: 4px solid green;
}

.in_check{
    background-color: red;
}


.black{
    background-color: #945021;
}

.white{
    background-color: #D9A45C;
}

.pieceSelected{
    background-color: green;
}
.piece{
    width: 100%;
    height: 100%;
}

.piece:hover{
    cursor: pointer;
}

img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.result{
    position: absolute;
    border: red 3px solid;
    left:0px;
    top:0px;
    background-color: yellow;
    font-size: 35px;
}